@media only screen and (max-width: 340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand, h4,
    .site-main .services-area
    {
        padding: 2%;
        margin: 0;
    }

    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }

    .site-main > .services-area .services{
        width: 13rem;
    }
}

@media only screen and (max-width: 792px){
    .site-main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }

    .site-main .brand-area .experience-area .years-area{
        padding-left: 1%;
        width: 49%;
    }

    .site-main .brand-area .experience-area .call-area{
        padding-left: 3%;
    }

    .site-main .project-area .button-group button{
        font: normal 500 18px/40px var(--langar);
    }

    .site-main .about-area .about-title p{
        padding: 0;
    }
}

@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area{
        padding: 3% 4%;
    }
}

@media only screen and (min-width: 1px) and (max-width: 992px) {
    .site-main .site-banner .site-title h3{
        padding-top: 0;
    }

    .site-main .site-banner .site-title{
        margin-bottom: 3rem;
    }

    .site-main .about-area .about-image > img {
        display: none;
    }

    .site-main .about-area {
        padding-top: 0;
    }

    .site-main .brand,
    .site-main .services-area,
    .site-main .project-area,
    .site-main .about-area,
    footer.footer-area{
        padding-top: 5rem;
    }

    .site-main .brand .experience .years-area {
        height: 11rem;
    }

    .site-main > .services-area .services{
        margin: 1rem auto;
    }

    .site-main .brand .experience{
        padding: 0;
    }

    .site-main .brand .experience .years-area,
    .site-main .brand .experience .call-area{
        padding: 1rem 0 0;
        margin: auto;
        width: auto;
    }
}